body {
    display:flex;
    align-items: center;
    justify-content: center;
}

div.container {
    display: flex;
    background-color: lightgray;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    height: 1300px;
    width: 1300px;
    
}

div>div{
    flex: 1 0 auto;
    background-color: grey;
    margin: 5px;
    height: 67.5px;
    width: 67.5px;
    /* display: flex; */
}