*{
    background-color: darkred;
}

body {
    display:flex;
    align-items: center;
    justify-content: center;
    padding-top: 5%;
}

div.container {
    display: flex;
    background-color: lightgray;
    flex-wrap: wrap;
    height: 1000px;
    width: 1000px;
    
}

div.pixel{
    flex: 1 0 auto;
    background-color: grey;
    height: 62.5x;
    width: 62.5px;
}

/* div.pixel {
    flex: 1 0 auto;
    background-color: grey;
    height: auto;
}

div.pixel:before {
    content: '';
    display: block;
    padding: 100%;
} */